body {
    background-color: #FFFDE8;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .header {
    background-color: #3D4038;
    width: 1440px;
    height: 116px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  .header h1 {
    font-size: 42px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  #review:hover {
    color: #0098EE;
    transform: scale(1.1);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  #edit:hover {
    color: #0098EE;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  

  #logout {
    color: #FF0000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  
  #logout:hover {
    color: #8B0000;
  }
  
  .container {
    margin-top: 146px; /* height of header plus some space */
    padding-left: 30px;
    width: 970px;
    position: relative;
    z-index: 1;
  }
  
  .margen {
    margin-bottom: 30px;
}
  .notification {
    background-color: #56594A;
    border-radius: 10px;
    color: white;
    font-size: 33px;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
  }
  
  .date-container {
    background-color: #3D4038;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .date-container h2 {
    color: white;
    font-size: 38px;
    margin-bottom: 5px;
  }
  
  .date-container p {
    color: #34C800;
    font-size: 30px;
    margin-bottom: 5px;
  }
  
  
  .visit-container {
    position: fixed;
    right: 30px;
    top: 146px;
    width: 476px;
    height: 540px;
    background: url('/img/foto\ restaurante\ vista.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .visit-container h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
  }
  
  .count {
    background-color: #3D4038;
    color: #0098EE;
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    width: 299px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }